.explorer-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to bottom, #4a90e2, #003366);
    -fx-background-radius: 10;
    -fx-padding: 0 40 0 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 6, 0.5, 2, 2);
}
